@page "/"

<PageTitle>Index</PageTitle>


<div class="shadow-xl bg-blue-800 p-[48px] m-10 rounded-lg">
    <h1 class="font-mono text-6xl text-center text-blue-100">
        Hello world from
        <p class="text-8xl">Blazor & Taiwind Cli!</p>
    </h1>
</div>