@inherits LayoutComponentBase

<div class="shadow-xl p-[48px] m-10 rounded-lg bg-gradient-to-br from-fuchsia-600 to-blue-500">
    <p class="font-mono text-xl md:text-4xl xl:text-8xl text-center text-white">
        Hello world from
    </p>
    <hr />
    <p class="font-mono text-blue-200 md:text-4xl text-xl text-center">
        Blazor & Tailwind Play CDN!
    </p>
</div>

